@font-face {
  font-family: "iconfont"; /* Project id 1619398 */
  src: url('iconfont.woff2?t=1649388847832') format('woff2'),
       url('iconfont.woff?t=1649388847832') format('woff'),
       url('iconfont.ttf?t=1649388847832') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-caikongqu-01:before {
  content: "\e6c8";
}

.icon-tuniqu-01:before {
  content: "\e6c9";
}

.icon-yongshuiqu-01:before {
  content: "\e6cb";
}

.icon-wasiqu-01:before {
  content: "\e6cc";
}

.icon-yanbao-01:before {
  content: "\e6cd";
}

.icon-shengyinguanbi:before {
  content: "\e8b8";
}

.icon-shengyin:before {
  content: "\e8b9";
}

.icon-bofang:before {
  content: "\e692";
}

.icon-zanting1:before {
  content: "\e693";
}

.icon-shuaxin:before {
  content: "\e690";
}

.icon-wancheng1:before {
  content: "\e691";
}

.icon-dingwei:before {
  content: "\e68f";
}

.icon-road:before {
  content: "\e68d";
}

.icon-car-collision-full:before {
  content: "\e9c7";
}

.icon-dianji01:before {
  content: "\e68c";
}

.icon-confirm:before {
  content: "\e74a";
}

.icon-data:before {
  content: "\e74b";
}

.icon-qingbaoban-01:before {
  content: "\e6c6";
}

.icon-leftarrow:before {
  content: "\e755";
}

.icon-map:before {
  content: "\e758";
}

.icon-zhaoming:before {
  content: "\e68b";
}

.icon-zanting:before {
  content: "\e689";
}

.icon-zidongkongzhi:before {
  content: "\e68a";
}

.icon-ashbin:before {
  content: "\e744";
}

.icon-renyuan2-01:before {
  content: "\e6c2";
}

.icon-renyuan1-01:before {
  content: "\e6c5";
}

.icon-paizhao:before {
  content: "\e688";
}

.icon-24gf-play:before {
  content: "\ea82";
}

.icon-tuodongweizhi:before {
  content: "\e703";
}

.icon-yujing:before {
  content: "\e717";
}

.icon-suolvetuxianshi:before {
  content: "\e6a0";
}

.icon-mianxingwendujitubiao:before {
  content: "\e6a6";
}

.icon-suidao:before {
  content: "\e699";
}

.icon-qiaoliangr:before {
  content: "\e683";
}

.icon-zxyw:before {
  content: "\e685";
}

.icon-daolu-mian:before {
  content: "\e687";
}

.icon-jiankongshexiangtou-xianxing:before {
  content: "\e900";
}

.icon-shigongrenyuan:before {
  content: "\e67b";
}

.icon-xingming:before {
  content: "\e67d";
}

.icon-qunzu:before {
  content: "\e681";
}

.icon-GIS-tulitucengicon_shuichi:before {
  content: "\e676";
}

.icon-caikongqu:before {
  content: "\e677";
}

.icon-liuhuaqing:before {
  content: "\eb3a";
}

.icon-fenchen:before {
  content: "\eb3c";
}

.icon-jiankong2:before {
  content: "\e6c4";
}

.icon-wasichouchuyali:before {
  content: "\e675";
}

.icon-yiyanghuatan:before {
  content: "\e8c1";
}

.icon-chelianghuichengsvg:before {
  content: "\e674";
}

.icon-tupian:before {
  content: "\e67a";
}

.icon-AnalysisAndDecision:before {
  content: "\e672";
}

.icon-WarnTip:before {
  content: "\e673";
}

.icon-Diagram:before {
  content: "\e69f";
}

.icon-downgradeManage:before {
  content: "\e6df";
}

.icon-rotaryWell:before {
  content: "\e66d";
}

.icon-deviceAllocation:before {
  content: "\e66e";
}

.icon-fsux_tubiao_zhuzhuangtu:before {
  content: "\e668";
}

.icon-shitu_tubiao:before {
  content: "\e6fa";
}

.icon-zcpt-shujutongji:before {
  content: "\e6b4";
}

.icon-a-1beijianguanli:before {
  content: "\e667";
}

.icon-fujian1-01:before {
  content: "\e6b6";
}

.icon-zuobiao-01:before {
  content: "\e749";
}

.icon-beijianhaocai-01:before {
  content: "\e74d";
}

.icon-caozuobiaozhun-01:before {
  content: "\e74e";
}

.icon-fangfa-01:before {
  content: "\e74f";
}

.icon-fujian-01:before {
  content: "\e750";
}

.icon-baocun:before {
  content: "\e67c";
}

.icon-materialInOutStock:before {
  content: "\e665";
}

.icon-materialsStock:before {
  content: "\e65f";
}

.icon-renliziyuan:before {
  content: "\e8e9";
}

.icon-fangdichan:before {
  content: "\e8eb";
}

.icon-peixun:before {
  content: "\e8ec";
}

.icon-materialsProcurement:before {
  content: "\e654";
}

.icon-bangzhu:before {
  content: "\e68e";
}

.icon-weibiaoti544:before {
  content: "\e653";
}

.icon-PermissionManage:before {
  content: "\e65c";
}

.icon-SystemTool:before {
  content: "\e652";
}

.icon-osccertificate:before {
  content: "\e698";
}

.icon-osctask:before {
  content: "\e678";
}

.icon-knowledgeCommunity:before {
  content: "\e66b";
}

.icon-process:before {
  content: "\e650";
}

.icon-spareparts:before {
  content: "\e64f";
}

.icon-water:before {
  content: "\e679";
}

.icon-daohangzhankai-:before {
  content: "\e713";
}

.icon-shangxiajiantou-:before {
  content: "\e64d";
}

.icon-setting-fill:before {
  content: "\e64e";
}

.icon-classxiashuiguandao:before {
  content: "\e7fa";
}

.icon-kehushangbao:before {
  content: "\e6a4";
}

.icon-peizhitubiaosvg-:before {
  content: "\e664";
}

.icon-oscPG:before {
  content: "\e65a";
}

.icon-zuzhi:before {
  content: "\e66a";
}

.icon-zhengjianbanli:before {
  content: "\e8be";
}

.icon-renyuan1:before {
  content: "\e65e";
}

.icon-tubiao:before {
  content: "\e671";
}

.icon-tubiao1:before {
  content: "\e64a";
}

.icon-tubiao2:before {
  content: "\ee13";
}

.icon-kuandu:before {
  content: "\e663";
}

.icon-weibiaoti-_huaban:before {
  content: "\e641";
}

.icon-weizhixinxiweihu:before {
  content: "\e644";
}

.icon-wenhao:before {
  content: "\e640";
}

.icon-xitongguzhang:before {
  content: "\e762";
}

.icon-scrapRecord:before {
  content: "\e63f";
}

.icon-ditu:before {
  content: "\e6b9";
}

.icon-bofang2:before {
  content: "\e63e";
}

.icon-weixiuzhong-01:before {
  content: "\e659";
}

.icon-famen:before {
  content: "\eb47";
}

.icon-wangluoshebei:before {
  content: "\e6af";
}

.icon-valveRepair:before {
  content: "\e63b";
}

.icon-shigongchuli:before {
  content: "\e63d";
}

.icon-gxunjians:before {
  content: "\e7d1";
}

.icon-shuiliu:before {
  content: "\e682";
}

.icon-tongbu:before {
  content: "\e6ca";
}

.icon-lvzhou_shebei:before {
  content: "\e639";
}

.icon-rili:before {
  content: "\e6b5";
}

.icon-shanchu1:before {
  content: "\e649";
}

.icon-ProductionManagement:before {
  content: "\e6c3";
}

.icon-oscbudgetmanage:before {
  content: "\e743";
}

.icon-oscproject:before {
  content: "\e602";
}

.icon-word:before {
  content: "\e638";
}

.icon-attachent:before {
  content: "\e745";
}

.icon-image-text:before {
  content: "\e753";
}

.icon-viewlist:before {
  content: "\e76d";
}

.icon-tool-hardware:before {
  content: "\e76e";
}

.icon-order:before {
  content: "\e7b3";
}

.icon-1:before {
  content: "\e631";
}

.icon-2:before {
  content: "\e635";
}

.icon-icon-test:before {
  content: "\e772";
}

.icon-zhuangche-:before {
  content: "\e62f";
}

.icon-jpg:before {
  content: "\e62d";
}

.icon-profile:before {
  content: "\e71b";
}

.icon-knowledge:before {
  content: "\e686";
}

.icon-oscbudgetsunmmary:before {
  content: "\e62a";
}

.icon-client:before {
  content: "\e629";
}

.icon-wuliao:before {
  content: "\ea42";
}

.icon-oscDetection:before {
  content: "\e662";
}

.icon-lixian:before {
  content: "\e786";
}

.icon-management:before {
  content: "\e89b";
}

.icon-ziyuan:before {
  content: "\e8a4";
}

.icon-apartment:before {
  content: "\e61e";
}

.icon-wupinchuku:before {
  content: "\e61f";
}

.icon-deviceInOutStock:before {
  content: "\e723";
}

.icon-base:before {
  content: "\e627";
}

.icon-patrol:before {
  content: "\e874";
}

.icon-listpro:before {
  content: "\e628";
}

.icon-monitor:before {
  content: "\e6a5";
}

.icon-oscgpsmanage:before {
  content: "\e647";
}

.icon-system:before {
  content: "\e643";
}

.icon-liebiaoqingdan:before {
  content: "\e642";
}

.icon-jianshao:before {
  content: "\e648";
}

.icon-oscgongkuangkanban:before {
  content: "\e66c";
}

.icon-home:before {
  content: "\e670";
}

.icon-shigong:before {
  content: "\e65d";
}

.icon-calendar-check:before {
  content: "\e67f";
}

.icon-calendar-clock:before {
  content: "\e680";
}

.icon-clipboard-text:before {
  content: "\e6b2";
}

.icon-pushmessage:before {
  content: "\e7f0";
}

.icon-manage-order-fill:before {
  content: "\e783";
}

.icon-messagecenter-fill:before {
  content: "\e7a2";
}

.icon-tuodong1:before {
  content: "\e6ff";
}

.icon-tuodong:before {
  content: "\e724";
}

.icon-you:before {
  content: "\e61c";
}

.icon-paixu:before {
  content: "\e61d";
}

.icon-repair:before {
  content: "\e738";
}

.icon-mend:before {
  content: "\e73a";
}

.icon-fix:before {
  content: "\e7f2";
}

.icon-faultDiagnosis:before {
  content: "\e61b";
}

.icon-bianji:before {
  content: "\e625";
}

.icon-guanbi1:before {
  content: "\e7be";
}

.icon-oscdailytemplate:before {
  content: "\e62e";
}

.icon-down-block:before {
  content: "\e624";
}

.icon-lujing:before {
  content: "\e626";
}

.icon-3d:before {
  content: "\e601";
}

.icon-qingdan:before {
  content: "\e646";
}

.icon-yali:before {
  content: "\e658";
}

.icon-xinfeng:before {
  content: "\e661";
}

.icon-txt:before {
  content: "\e618";
}

.icon-chenggonganli:before {
  content: "\e634";
}

.icon-zhibiaoguanli:before {
  content: "\e630";
}

.icon-yejipaiming:before {
  content: "\e61a";
}

.icon-tupianjiazaishibai02:before {
  content: "\e87c";
}

.icon-jiazai:before {
  content: "\e636";
}

.icon-health:before {
  content: "\e7ee";
}

.icon-weixiubeijing:before {
  content: "\e632";
}

.icon-xunjiandian:before {
  content: "\e657";
}

.icon-shijian:before {
  content: "\e77c";
}

.icon-fenxi:before {
  content: "\e622";
}

.icon-shebeiguanli:before {
  content: "\e684";
}

.icon-gongchengjiansheanquanpaicha:before {
  content: "\e616";
}

.icon-chart58:before {
  content: "\e67e";
}

.icon-yunyingribao:before {
  content: "\e60b";
}

.icon-yunyingshigongtiaodu:before {
  content: "\e612";
}

.icon-shebeiweixiuweihu:before {
  content: "\e613";
}

.icon-gongchenganquanfengxianyujingxitong:before {
  content: "\e614";
}

.icon-hetongliebiao:before {
  content: "\e637";
}

.icon-guidangxiangmu:before {
  content: "\e660";
}

.icon-chakan-copy:before {
  content: "\e62c";
}

.icon-guidang:before {
  content: "\e666";
}

.icon-xiazai1:before {
  content: "\e63c";
}

.icon-baojiajieshou:before {
  content: "\e722";
}

.icon-in_zhengyan_fill:before {
  content: "\e603";
}

.icon-xiazai:before {
  content: "\e63a";
}

.icon-fujian:before {
  content: "\e732";
}

.icon-xueshengdangan:before {
  content: "\e604";
}

.icon-guanbi:before {
  content: "\e611";
}

.icon-shanchu2:before {
  content: "\e656";
}

.icon-kehu_xuanzhong:before {
  content: "\e60a";
}

.icon-yibiaopan:before {
  content: "\e834";
}

.icon-QA:before {
  content: "\e608";
}

.icon-yonghuming:before {
  content: "\e610";
}

.icon-yanzhengma:before {
  content: "\e60f";
}

.icon-mima:before {
  content: "\e60e";
}

.icon-bumen:before {
  content: "\e62b";
}

.icon-quyu:before {
  content: "\e607";
}

.icon-setting:before {
  content: "\e620";
}

.icon-anzhuangshigong:before {
  content: "\e8d7";
}

.icon-xiaoxi:before {
  content: "\e606";
}

.icon-qingsao:before {
  content: "\e895";
}

.icon-wancheng:before {
  content: "\e609";
}

.icon-quanping:before {
  content: "\e600";
}

.icon-72jingshi:before {
  content: "\e64b";
}

.icon-potential_problem:before {
  content: "\e66f";
}

.icon-kehu:before {
  content: "\e645";
}

.icon-shuju1:before {
  content: "\e694";
}

.icon-shuju:before {
  content: "\e60c";
}

.icon-zhuangtai:before {
  content: "\e655";
}

.icon-daohangshouqi-:before {
  content: "\e712";
}

.icon-shebei:before {
  content: "\e617";
}

.icon-weizhi:before {
  content: "\e615";
}

.icon-kehuguanli:before {
  content: "\e669";
}

.icon-hekriconshebeixiechatou1:before {
  content: "\e65b";
}

.icon-wodeshebei:before {
  content: "\e623";
}

.icon-icon_tingzhi:before {
  content: "\e64c";
}

.icon-caijiqi:before {
  content: "\e619";
}

.icon-tuichu:before {
  content: "\e792";
}

.icon-lixianjiancha:before {
  content: "\e621";
}

.icon-zaixianbaoming:before {
  content: "\e651";
}

.icon-jiankongbaojing:before {
  content: "\e605";
}

.icon-yichang:before {
  content: "\e633";
}

.icon-tingjiguanli:before {
  content: "\e60d";
}

.icon-shebeitongji:before {
  content: "\e6fc";
}

.icon-biaotou-daoxu:before {
  content: "\e771";
}

