.dew {
    --indexBlogShadow: #1579d8;   // 首页博客阴影
    --indexOuterStroke: #4af;     // 首页外层路径颜色
    --indexInerStroke: #1579d8;     // 首页内层路径颜色
    --waveColoeDeep: #002bdc;       // 深色海浪
    --waveColoeLight: #32ded4;      // 浅色海浪
    --settingPopShadow: #144a74;    // 弹框阴影
    
    --settingPopOpacity: .1;           // 弹框透明度
    --background: #f4f2ef;             // 背景颜色
    --cardColor: #fff;           // 卡片颜色
    --titleColor: #2072b1;             // 标题颜色
    --borderColor: #2260ff;         // 边框颜色

    --fontFamily: PangMenZhengDao;  // 字体
}