.mew {
    --indexBlogShadow: #a61b29;   // 首页博客阴影
    --indexOuterStroke: #ef929b;     // 首页外层路径颜色
    --indexInerStroke: #eb3e4c;     // 首页内层路径颜色
    --waveColoeDeep: #ff78bc;       // 深色海浪
    --waveColoeLight: #ff0080;      // 浅色海浪
    --settingPopShadow: #c0313d;    // 弹框阴影

    --settingPopOpacity: .1;           // 弹框透明度
    --background: #f4f2ef;             // 背景颜色
    --cardColor: #fff;           // 卡片颜色
    --titleColor: #ea5964;             // 标题颜色
    --borderColor: #ec9099;         // 边框颜色
    
    --fontFamily: PangMenZhengDao;  // 字体
}