:root, :host {
  // textarea - css vars
  --w-e-textarea-bg-color: rgba($color: #000, $alpha: 0) !important;
  --w-e-textarea-slight-border-color: #4290f7 !important;
  --w-e-textarea-slight-bg-color: rgba($color: #000, $alpha: 0) !important;
}